@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-code-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-code-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @syntax-comment-color;
}

.syntax--keyword {
  color: @syntax-keyword-color;

  &.syntax--control {
    color: @syntax-keyword-color;
  }

  &.syntax--operator {
    color: @syntax-keyword-color;
  }

  &.syntax--other.syntax--special-method {
    color: @syntax-keyword-color;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-keyword-color;
  }
}

.syntax--storage {
  color: @syntax-keyword-color;
}

.syntax--constant {
  color: @syntax-code-color;

  &.syntax--character.syntax--escape {
    color: @syntax-code-color;
  }

  &.syntax--numeric {
    color: @syntax-code-color;
  }

  &.syntax--other.syntax--color {
    color: @syntax-code-color;
  }

  &.syntax--other.syntax--symbol {
    color: @syntax-code-color;
  }
}

.syntax--variable {
  color: @syntax-code-color;

  &.syntax--interpolation {
    color: @syntax-code-color;;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-code-color;;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: fade(@syntax-color-removed, 50%);
  color: @syntax-background-color;
}

.syntax--string {
  color: @syntax-string-color;

  &.syntax--regexp {
    color: @syntax-code-color;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @syntax-code-color;
    }
  }

  &.syntax--other.syntax--link {
    color: @syntax-code-color;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @syntax-comment-color;
    }

    &.syntax--string {
      color: @syntax-code-color;
    }

    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-code-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @syntax-code-color;
    }

    &.syntax--bold {
      color: @syntax-code-color;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @syntax-code-color;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: @syntax-code-color;
  }

}

.syntax--support {
  &.syntax--class {
    color: @syntax-code-color;
  }

  &.syntax--function  {
    color: @syntax-code-color;

    &.syntax--any-method {
      color: @syntax-code-color;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @syntax-code-color;
  }
  &.syntax--name.syntax--type {
    color: @syntax-code-color;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-code-color;
  }
  &.syntax--name.syntax--class,
  &.syntax--name.syntax--type.syntax--class {
    color: @syntax-code-color;
  }

  &.syntax--name.syntax--section {
    color: @syntax-code-color;
  }

  &.syntax--name.syntax--tag {
    color: @syntax-code-color;
  }

  &.syntax--other.syntax--attribute-name {
    color: @syntax-code-color;

    &.syntax--id {
      color: @syntax-code-color;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @syntax-code-color;
  }

  &.syntax--link {
    color: @syntax-code-color;
  }

  &.syntax--require {
    color: @syntax-code-color;
  }

  &.syntax--selector {
    color: @syntax-code-color;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-code-color;
  }

  &.syntax--attribute {
    color: @syntax-comment-color !important;
  }
}

.syntax--none {
  color: @syntax-code-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @syntax-code-color;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @syntax-code-color;
  }

  &.syntax--deleted {
    color: @syntax-code-color;
  }

  &.syntax--italic {
    color: @syntax-code-color;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @syntax-code-color;
  }

  &.syntax--inserted {
    color: @syntax-code-color;
  }

  &.syntax--list {
    color: @syntax-code-color;
  }

  &.syntax--quote {
    color: @syntax-code-color;
  }

  &.syntax--raw.syntax--inline {
    color: @syntax-code-color;
  }
}

.syntax--source {
  &.syntax--comment,
  .syntax--comment {
    color: @syntax-comment-color;
  }

  &.syntax--string,
  .syntax--string {
    color: @syntax-string-color;
  }

  &.syntax--keyword,
  .syntax--keyword {
    color: @syntax-keyword-color;
  }

  .syntax--storage {
    &.syntax--modifier,
    &.syntax--type {
      color: @syntax-keyword-color;
    }
  }

  &.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;

    &.syntax--heading {
      color: @syntax-code-color;
    }
  }

  .syntax--keyword:not(.syntax--unit):not(.syntax--special-method) {
    color: @syntax-keyword-color;
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
